body{
    background-color:rgb(126, 207, 234);
}
.btn{
    background-color: darkblue;
}
.pp{
    background-color: darkblue;
}
.aa{
    background-color: blue;
}
.ab{
    background-color: blue;
}
.ac{
    background-color: blue;
}